*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --black: #000000;
}

.container{
    margin: 0 auto;
    gap: 1rem;
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hangman{
    width: 400px;
    position: relative;
}

.hangman * {
    background-color: var(--black);
}

.hangman-floor{
    width: 200px;
    height: 10px;
}

.hangman-wall{
    margin-left: 95px;
    width: 10px;
    height: 400px;
}

.hangman-bar{
    margin-left: 95px;
    width: 175px;
    height: 10px;
}

.hangman-support-bar{
    position: absolute;
    height: 10px;
    width: 80px;
    transform: rotate(-45deg);
    left: 22%;
    top: 7%;
}

.hangman-rope{
    position: absolute;
    width: 10px;
    height: 40px;
    right: 32%;
}

.hangman-head{
    position: absolute;
    right: 27%;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border: 10px solid var(--black);
    border-radius: 100%;
    top: 40px;
}

.hangman-body{
    position: absolute;
    top: 90px;
    width: 10px;
    right: 32%;
    height: 120px;
}

.hangman-arm-right,
.hangman-arm-left,
.hangman-leg-right,
.hangman-leg-left{
    position: absolute;
    width: 10px;
    height: 60px;
}

.hangman-arm-right,
.hangman-arm-left{
    top: 100px;
}

.hangman-leg-right,
.hangman-leg-left{
    top: 195px;
}

.hangman-arm-right{
    right: 27%;
    transform: rotate(-45deg);   
}

.hangman-arm-left{
    right: 37%;
    transform: rotate(45deg);
}

.hangman-leg-right{
    right: 27%;
    transform: rotate(135deg);
}

.hangman-leg-left{
    right: 37%;
    transform: rotate(-135deg);
}

.secret-word__box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.750rem;
}

.letter{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1.875rem;
    width: 20px;
    font-weight: 600;
    font-family: Arial;
    padding-bottom: 0.125rem;
    border-bottom: 0.250rem solid var(--black);
}

.letter-visible{
    visibility: visible;
}

.letter-invisible{
    visibility: hidden;
}

.keyboard{
    padding: 0 0.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(70px, 1fr));
    gap: 0.5rem;
}

.key{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    border: 2px solid var(--black);
    background-color: transparent;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: all 300ms ease;
}

.key:hover:not(:disabled),
.key:focus:not(:disabled){
    background-color: rgb(204, 167, 253);
}

.key:active{
    background-color: rgb(116, 10, 255);
    color: #ffffff;
}

.inactive{
    opacity: 0.4;
}